@import url(c:\Users\Student\Desktop\Formation UX-UI\Exercices integres\ei-julien-vanschingen\font-awesome.min.css);
@font-face {
  font-family: "Montserrat-Medium";
  font-weight: medium;
  src: url("/fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "MavenPro-Regular";
  font-weight: 300;
  src: url("/fonts/maven-pro/MavenPro-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
  src: url("/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat-Light";
  font-weight: 100;
  src: url("/fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Museo300-Regular";
  font-weight: 300;
  src: url("/fonts/museo/Museo300-Regular.otf");
}

.center {
  color: #d4ce9a;
}

.outside {
  color: #f899b4;
}

body {
  margin: 0;
  font-family: "Montserrat-Medium";
}

body header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(45, 85, 133, 0.705)), to(rgba(133, 89, 253, 0.7))), url(/img/header.jpg);
  background-image: linear-gradient(180deg, rgba(45, 85, 133, 0.705) 25%, rgba(133, 89, 253, 0.7) 100%), url(/img/header.jpg);
  background-repeat: no-repeat;
  background-size: auto, auto 50vh;
  background-position-x: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header h1 {
  margin: 0;
}

body header h1 .invisible {
  display: none;
}

body header h1 .logo {
  height: 150px;
  z-index: 200;
  position: absolute;
  margin: 40px;
  left: 0;
  top: 0;
}

body header .burgerMenu {
  height: 32px;
  width: 26px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 200;
  margin: 40px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body header .burgerMenu span::after {
  display: block;
  content: "";
  height: 4px;
  background-color: #00d8ff;
}

body header .burgerMenu #ligne1::after {
  width: 26px;
}

body header .burgerMenu #ligne2::after {
  width: 32px;
}

body header .burgerMenu #ligne3::after {
  width: 16px;
}

body header .burgerMenu:hover #ligne1::after {
  width: 32px;
}

body header .burgerMenu:hover #ligne2::after {
  width: 32px;
}

body header .burgerMenu:hover #ligne3::after {
  width: 32px;
}

body header .navigation {
  height: 100vh;
  width: 100vw;
  background-color: #00d8ff;
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body header .navigation .recherche {
  margin-right: 10px;
}

body header .navigation .recherche input {
  width: 0vw;
  height: 2em;
  border: none;
  padding: 0px;
}

body header .navigation .recherche .search {
  background: none;
  border: none;
  cursor: pointer;
  color: #284e68;
  font-size: 1.5em;
}

body header .navigation ul {
  text-align: right;
  margin: 0 10px 30px 0;
}

body header .navigation ul li {
  list-style: none;
  margin: 10px;
  padding: 5px 0 5px 0;
}

body header .navigation ul li a {
  text-decoration: none;
  color: #284e68;
  font-size: 2em;
  font-weight: 600;
}

body header .desktop {
  display: none;
}

body header h2 {
  margin: 0;
  color: #00d8ff;
  font-size: 4em;
  font-family: "Montserrat-Light";
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1;
  margin: 0 50px 50px 0;
}

body header h2 span {
  font-family: "MavenPro-Regular";
  font-size: 0.5em;
  display: block;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body header .boutton {
  background-color: #00d8ff;
  width: 250px;
  height: 50px;
  border-radius: 35px;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px;
}

body main h1 {
  color: #00d8ff;
  text-align: center;
  font-size: 1.8em;
  margin: 30px 0px;
}

body main .lieux {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body main .lieux .lieu {
  background-color: #2b3841;
  list-style: none;
  width: 95vw;
  padding: 30px 0px;
  margin: 15px 0;
}

body main .lieux .lieu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
  color: white;
  padding: 25px 25px 10px 25px;
}

body main .lieux .lieu a h3 {
  margin: 0;
  font-size: 2em;
  line-height: 0.78;
  /*&:after {
              content: "";
              display: block;
              width: 5px;
              height: 5px;
              border-radius: 5px;
              background-color: red;
            }*/
}

body main .lieux .lieu a h3 span {
  font-family: "Museo300-Regular";
  display: block;
}

body main .lieux .lieu a .region {
  font-size: 1.2em;
  margin-bottom: 30px;
}

body main .lieux .lieu a .vignette {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

body main .lieux .lieu a h4 {
  margin-bottom: 5px;
}

body main .lieux .lieu a p {
  margin: 0;
  line-height: 1.8;
}

body main .lieux .lieu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
}

body main .lieux .lieu div .fa-heart {
  font-size: 1.5em;
}

body main .lieux .lieu div a {
  font-size: 1.5em;
  display: inline;
  padding: 0;
}

body main .lieux .lieu div a::before {
  content: "|";
  font-family: "Montserrat-Light";
  margin: 30px;
}

body footer {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(40, 50, 58, 0.801)), to(#1f384d)), url(/img/footer.jpg);
  background-image: linear-gradient(180deg, rgba(40, 50, 58, 0.801) 25%, #1f384d 100%), url(/img/footer.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/*# sourceMappingURL=style.css.map */